body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
}

.container {
    width: 80%;
    margin: 40px auto;
    background-color: #e8f0f6;
    padding: 20px;
    border: 1px solid #999;
}

h2 {
    text-align: center;
    color: #003366;
}

h3 {
    color: #004080;
    margin-top: 20px;
}

p {
    line-height: 1.6;
    text-align: justify;
}

.footer {
    margin-top: 15px;
    font-style: italic;
}
